<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <h1>products</h1>
    <table class="table table-dark">
      <tr>
          <th>product_name</th>
          <th>product_rate</th>
          <th>pic</th>
          <th>price</th>  
          <th>color</th>
          <th>description</th>
      </tr>
      {%for i in data%}
      <tr>
          <td>{{i.name}}</td>
          <td>{{i.image}}</td>
          <td>{{i.price}}</td>
          <td>{{i.description}}</td>
          <td>{{i.color}}</td>
          <td>{{i.description}}</td>

              <img class="card-img-top" src="{{i.prodimg.url}}"></td>
              

          

          
      </tr> 
      {%endfor%} 
      
    </table>
    
</div>
</body>

</html>
